RewriteEngine On

### MAPPAR I PUBLIC SOM SKA GÅ ATT KOMMA ÅT

RewriteCond %{REQUEST_URI} !/gfx
RewriteCond %{REQUEST_URI} !/images
RewriteCond %{REQUEST_URI} !/thumbs
RewriteCond %{REQUEST_URI} !/scripts
RewriteCond %{REQUEST_URI} !/special
RewriteCond %{REQUEST_URI} !/documents
RewriteCond %{REQUEST_URI} !/utskick
RewriteCond %{REQUEST_URI} !/js

### FILER I PUBLIC SOM SKA GÅ ATT KOMMA ÅT

RewriteCond %{REQUEST_URI} !/index.php
RewriteCond %{REQUEST_URI} !/style.css
RewriteCond %{REQUEST_URI} !/style_ie6.css
RewriteCond %{REQUEST_URI} !/favicon.ico

### ÄNDRA INGET NEDANFÖR DENNA RAD

RewriteRule (.*) index.php/$1 [L]

RewriteRule ^thumbs/(\d+)/([0-9a-f])([0-9a-f]{2})([0-9a-f]{29})$         /thumbs/$1/$2/$3/$2$3$4 [L,T=image/jpeg]
RewriteRule ^images/([0-9a-f])([0-9a-f]{2})([0-9a-f]{29})\.([a-z]{3,4})$ /images/$1/$2/$1$2$3    [L,T=image/$4]

php_flag magic_quotes_gpc Off

AddDefaultCharset utf-8
Options FollowSymLinks
